html {
  font-family: "Montserrat", sans-serif;
  background-color: #282c34;
  font-size: 1rem; /* 1rem = 16px в браузере по-умолчанию */
  line-height: 1.5em; /* ширина строки в 1.5 раза больше шрифта - как по ДСТУ диплома */
  text-indent: 1em; /* Сдела отступ у всего текста, чтобы не прилипал к краю */
  color: #F2F7FD;
}

p {
  padding: 0 1em; /* чтобы 2рая строка не прижималась к границам сайта */
  text-indent: 2em; /* переопределяем глобальный отступ первой строки, чтобы он был у параграфа */
}

/* Два селектора пишутся через запятую */
ul, ol {
  /* У всех списков стандартный отступ в 40px, меняем его на относительный как и text-indent */
  padding-left: 2em;
  /* Ставим точки и цифры внутрь */
  list-style-position: inside;
}

h1 {
  /* Чтобы выделялся заголовок больше в 3 раза чем обычный текст, стандартные 2em мало для меня */
  font-size: 3em;
}

h2 {
  /* Вот тут 2em в самый раз */
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
  /* Подсветил пункты резюме just for fun */
  color: #53C1DF;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
  font-weight: normal;
  /* Крастный, чтобы люди обратили внимание, как долго я работал */
  color: #e06c75;
}

h6 {
  font-size: 1em;
}

/* strong - семантический тег, который показывает то, что имеет большое значение */
strong {
  font-family: 'Press Start 2P', cursive;
  vertical-align: bottom; /* шрифт пополз вверх, я его выравнял по нижнему краю */
}

a {
  color: #C57BDD;
  /* убираем дыбильное подчеркивание */
  text-decoration: none;
}

/* класс, так как я хочу чтобы только один список был в 2 столбца, в будущем могу переиспользовать */
.two-column-list {
  columns: 2; 
}

/* эта штуку буду использовать часто */
.center {
  text-align: center;
}

/* если надо что-то подсветить */
.highlight {
  color: #F7DF1E;
}

/* галерея для меня особый пункт и у нее есть id, почему б это не использовать */
#gallery {
  text-align: center;
}